<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/base/fragments :: head}"></head>
<body class="bg-light">
<div th:replace="~{/base/fragments :: nav}"></div>
<svg th:replace="~{/base/fragments :: svg-symbols}"/>
<style>
    .tagify--outside {
        border: 0;
    }

    .tagify--outside .tagify__input {
        order: -1;
        flex: 100%;
        border: 1px solid var(--tags-border-color);
        margin-bottom: 0.2em;
        transition: .1s;
    }

    .tagify--outside .tagify__input:hover {
        border-color: var(--tags-hover-border-color);
    }

    .tagify--outside.tagify--focus .tagify__input {
        transition: 0s;
        border-color: var(--tags-focus-border-color);
    }
</style>
<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-2">
      <div th:replace="~{/base/fragments :: settings-menu (currentMenu='tags')}"></div>
    </div>
    <div class="col-8">
      <div class="row">
        <h2 class="col-12">관심있는 스터디 주제</h2>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="alert alert-info" role="alert">
            <svg th:replace="~{/base/fragments :: symbol-info}"/>
            참여하고 싶은 스터디 주제를 입력해 주세요. 해당 주제의 스터디가 생기면 알림을 받을 수 있습니다. 태그를 입력하고 쉼표 또는 엔터를 입력하세요.
          </div>
          <input type="text" id="tags" name="tags" class="tagify tagify--outside"
                 th:value="${#strings.listJoin(tags, ',')}" aria-describedby="tagHelp">
          <div id="whitelist" th:text="${whitelist}" hidden></div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="~{/base/fragments :: footer}"></div>
</div>
<script type="application/javascript" th:inline="javascript">
  $(function () {
    let csrfToken = /*[[${_csrf.token}]]*/ null;
    let csrfHeader = /*[[${_csrf.headerName}]]*/ null;
    $(document).ajaxSend(function (e, xhr, options) {
      xhr.setRequestHeader(csrfHeader, csrfToken);
    });
  });
</script>
<script src="/node_modules/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<script type="application/javascript">
  $(function () {
    function tagRequest(url, tagTitle) {
      $.ajax({
        dataType: "json",
        autocomplete: {
          enabled: true,
          rightKey: true
        },
        contentType: "application/json; charset=utf-8",
        method: "POST",
        url: "/settings/tags" + url,
        data: JSON.stringify({'tagTitle': tagTitle})
      }).done(function (data, status) {
        console.log("${data} and status is #{status}")
      })
    }

    function onAdd(e) {
      tagRequest("/add", e.detail.data.value);
    }

    function onRemove(e) {
      tagRequest("/remove", e.detail.data.value);
    }

    let tagInput = document.querySelector("#tags");
    let tagify = new Tagify(tagInput, {
      pattern: /^.{0,20}$/,
      whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
      dropdown: {
        enabled: 1
      }
    });

    tagify.on("add", onAdd);
    tagify.on("remove", onRemove);

    let tagifyInput = tagInput.closest(".tagify"); // Tagify가 wrapping하는 최상위 요소 찾기
    if (tagifyInput) {
      let originalInput = tagifyInput.querySelector("input"); // 내부 input 찾기
      if (originalInput) {
        originalInput.classList.add("form-control");

        tagifyInput.parentNode.insertBefore(originalInput, tagifyInput);
      }
    }
  });
</script>
</body>
</html>